@{
    ViewBag.Title = "Select All Users";
}

@using hola_mundo.Models
@model IEnumerable<Usuario>

<h2 class="text-center">Usuarios de Base de datos</h2>
<hr />
<div class="container">
    @Html.ActionLink("Crear usuario", "Create", new { area = "" }, new { @class = "btn btn-primary" })
    <br />
    <br />
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>
                    <td>@usuario.id</td>
                    <td>@usuario.nombre</td>
                    <td>@usuario.email</td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = usuario.id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Detalles", "Show", new { id = usuario.id }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Eliminar", "Delete", new { id = usuario.id }, new { @class = "btn btn-danger"})
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
